form {
    position: fixed;          
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 500px;

    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    z-index: 9999;           
}

form input {
    margin-left: -10px;
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-group {
    margin-left: -15px;
}