header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px; 
    margin: 0;
    flex-wrap: wrap;
}

header li {
    color: black;
    list-style-type: none;
    padding: 10px 15px; 
    margin: 0;
}

header li:hover {
    color: darkgoldenrod;
    cursor: pointer;
}

@media (min-width: 600px) {
    header ul {
        gap: 50px;
        padding: 20px;
    }
}